body{
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 15px;
}

a{
    color:white;
    text-decoration: none;

}

img{
    width: 150px;
    height: 150px;
    border: 0px solid white;
}

.center{
    text-align: center;
}

.container{
    padding:0px 50px;
}

nav a:hover{
    color: red;
}

footer a:hover{
    color:red;
}

a:visited {
    color: blue;
}